<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm" novalidate>
    <ion-card>
      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input
          formControlName="email"
          type="email"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Wachtwoord</ion-label>
        <ion-input
          formControlName="password"
          type="password"></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Voornaam</ion-label>
        <ion-input
          formControlName="firstName"
          type="text"
          class="ion-text-capitalize"
        ></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Achternaam</ion-label>
        <ion-input
          formControlName="lastName"
          type="text"
          class="ion-text-capitalize"
        ></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>Beschikbaar</ion-label>
        <ion-select formControlName="sex" multiple="false">
          <ion-select-option *ngFor="let item of sexObject" [value]="item.value"
            >{{ item.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>Geboortedatum</ion-label>
        <ion-datetime
          formControlName="birthDate"
          placeholder="Select Date"
          format="'YYYY:MM:DD'"
          format="'YYYY:MM:DD'"
        >
        </ion-datetime>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-text slot="start">Phone</ion-text>
        <ion-input type="tel" formControlName="phone" maxlength="21" clearInput>
        </ion-input>
      </ion-item>
    </ion-card>
    <div class="logincontent">
      <ion-button
        (click)="signUp()"
        expand="round"
        class="facebook ion-text-uppercase">
        <small>Register</small>
      </ion-button>
    </div>
  </form>
</ion-content>
