<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signUpForm" class="sign-up-form" novalidate>
    <ion-item>
      <ion-input
        formControlName="email"
        type="email"
        id="email"
        placeholder="E-mail">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="password"
        type="password"
        id="password"
        placeholder="Wachtwoord">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="firstName"
        type="text"
        placeholder="Voornaam"
        class="ion-text-capitalize">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        formControlName="lastName"
        type="text"
        placeholder="Achternaam"
        class="ion-text-capitalize">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Beschikbaar</ion-label>
      <ion-select formControlName="gender" multiple="false">
        <ion-select-option *ngFor="let item of sexObject" [value]="item.value">{{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Geboortedatum</ion-label>
      <ion-datetime formControlName="birthDate" placeholder="Select Date" format="'YYYY:MM:DD'" format="'YYYY:MM:DD'">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-text slot="start">Phone</ion-text>
      <ion-input type="tel" formControlName="phone" maxlength="21" clearInput>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Role</ion-label>
      <ion-select formControlName="role" multiple="false">
        <ion-select-option *ngFor="let item of roleObject" [value]="item.value">{{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <div class="logincontent">
      <ion-button
        [disabled]="signUpForm.invalid"
        (click)="signUp()"
        expand="round"
        class="facebook ion-text-uppercase">
        <small>Register</small>
      </ion-button>
    </div>
  </form>
</ion-content>