<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Edit profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col align-items-center="true">
    <label for="file">
      <ion-card>
        <div class="imageWrapper">
          <input
            type="file"
            id="file"
            (change)="handleFileInput($event.target.files)"
          />

          <ion-img
            class="imageDiv"
            [src]="objectUrl"
            *ngIf="objectUrl"
          ></ion-img>
          <div class="closeIcon" *ngIf="imageBlob">
            <ion-icon
              name="close"
              expand="icon-only"
              *ngIf="imageBlob"
            ></ion-icon>
          </div>
          <div class="addIcon" *ngIf="!imageBlob">
            <ion-icon
              name="md-add"
              expand="icon-only"
              *ngIf="!imageBlob"
            ></ion-icon>
          </div>
        </div>
      </ion-card>
    </label>
  </ion-col>
</ion-row>

<ion-content>
  <form [formGroup]="editPageForm" novalidate>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Voornaam</ion-label>
        <ion-input
          formControlName="firstName"
          type="text"
          placeholder="Voer voornaam in"
          class="ion-text-capitalize"
        ></ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-label position="floating">Achternaam</ion-label>
        <ion-input
          formControlName="lastName"
          type="text"
          placeholder="Voer achternaam in"
          class="ion-text-capitalize"
        ></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>Beschikbaar</ion-label>
        <ion-select formControlName="sex" multiple="false">
          <ion-select-option *ngFor="let item of sexObject" [value]="item.value"
            >{{ item.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label>Geboortedatum</ion-label>
        <ion-datetime
          formControlName="birthDate"
          placeholder="Select Date"
          format="'YYYY:MM:DD'"
          format="'YYYY:MM:DD'"
        >
        </ion-datetime>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-text slot="start">Phone</ion-text>
        <ion-input type="tel" formControlName="phone" maxlength="21" clearInput>
        </ion-input>
      </ion-item>
    </ion-card>
    <ion-row>
      <ion-col align-items-center="true">
        <ion-buttons>
          <ion-button
            fill="clear"
            slot="end"
            size="small"
            class="searchItem"
            color="danger"
            (click)="applyForm()"
          >
            <div class="flex">
              <span>Apply</span>
              <ion-icon name="arrow-down" expand="icon-only"></ion-icon>
            </div>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
