<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">Properties List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-buttons (click)="addProperties()" class="add-properties-wrapper">
    Add properties
    <ion-icon name="add"></ion-icon>
  </ion-buttons>
  <div class="list">
    <ion-item
      (click)="changeSelected()"
      *ngFor="let property of propertiesList; let i = index"
    >
      <div class="wrapper-property-list">
        <div class="name">{{property.name}}</div>
        <div class="icons-wrapper">
          <div class="edit" (click)="edit(property.id)">
            <ion-icon name="construct-outline" expand="icon-only"></ion-icon>
          </div>
          <div class="edit" (click)="upload(property.id)">
            <ion-icon name="cloud-upload" expand="icon-only"></ion-icon>
          </div>
          <div class="remove" (click)="remove(property.id)">
            <ion-icon name="close" expand="icon-only"></ion-icon>
          </div>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
