<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">add properties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="AddPagePropertiesForm" novalidate>
    <ion-item>
      <ion-label>name</ion-label>
      <ion-input
        formControlName="name"
        type="text"
        placeholder="Name"
        class="ion-text-capitalize"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">price</ion-label>
      <ion-input
        formControlName="price"
        type="number"
        placeholder="Voer price in"
        class="ion-text-capitalize"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Voer currency in</ion-label>
      <ion-select formControlName="currency">
        <ion-select-option
          *ngFor="let item of currencyObject"
          [value]="item.value"
        >
          {{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>area</ion-label>
      <ion-input
        formControlName="area"
        type="text"
        placeholder="Area"
        class="ion-text-capitalize"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-text class="textBold" slot="start">Kamers</ion-text>
      <ion-text color="danger" slot="end">
        {{ AddPagePropertiesForm.get('rooms').value }}
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-range
        formControlName="rooms"
        min="0"
        max="10"
        step="1"
        color="danger"
      >
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Beschikbaar</ion-label>
      <ion-select formControlName="availability">
        <ion-select-option *ngFor="let item of availability" [value]="item.id">
          {{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Staat van het gebouw</ion-label>
      <ion-select formControlName="stateOfBuild">
        <ion-select-option *ngFor="let item of stateOfBuild" [value]="item.id">
          {{ item.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-text class="textBold" slot="start">garage</ion-text>
      <ion-text color="danger" slot="end">
        {{ AddPagePropertiesForm.get('garage').value }}
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-range
        formControlName="garage"
        min="0"
        max="10"
        step="1"
        color="danger"
      >
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-text class="textBold" slot="start">Badkamers</ion-text>
      <ion-text color="danger" slot="end">
        {{ AddPagePropertiesForm.get('bathRooms').value }}
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-range
        formControlName="bathRooms"
        min="0"
        max="10"
        step="1"
        color="danger"
      >
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-text class="textBold" slot="start">Kitchen</ion-text>
      <ion-text color="danger" slot="end">
        {{ AddPagePropertiesForm.get('kitchen').value }}
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-range
        formControlName="kitchen"
        min="0"
        max="10"
        step="1"
        color="danger"
      >
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label>description</ion-label>
      <ion-input
        formControlName="description"
        type="text"
        placeholder="description"
        class="ion-text-capitalize"
      ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="12" align-items-center="true">
        <ion-button
          expand="round"
          class="ion-text-uppercase white"
          fill="outline"
          (click)="applyForm()"
        >
          <span>Apply</span>
          <ion-icon name="arrow-down" expand="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
