/** */
.verified {
    color: gray;
    font-size: 13px;
    margin-top: 0;
}
ion-list-header {
    font-weight: bold;
    color: #424242;
}
ion-content {
    --background: white !important;
}
ion-item {
    --inner-border-width: 0px 0px 0px;
}
