// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.swiper-pagination {
  // bottom: 0 !important;
}

.swiper-pagination-bullet-active {
  background: rgb(240, 65, 65) !important;
  display: none;
}

.swiper-pagination-bullet {
  background: var(--ion-color-medium);
}

ion-modal {
  --background: #383a3ec2 !important;
}
.swiper-scrollbar {
  top: 3px !important;
}
.swiper-scrollbar-drag {
  background: var(--ion-color-warning-contrast);
}
.searchbar-input.sc-ion-searchbar-md {
  box-shadow: none !important;
  -webkit--webkit-box-shadow: none !important;
}
.searchbar-search-icon.sc-ion-searchbar-md {
  color: var(--ion-color-danger-tint);
}
ion-content {
  --background: linear-gradient(50deg, #113388, #007cba);
}
.header-md:after {
  background-image: none !important;
  content: '';
}

.loading {
  .loading-wrapper {
    box-shadow: none;
    background-color: transparent !important;
    backdrop-filter: none !important;
  }
}

.load {
  width: 200px;
  height: 200px;
  /** height is required as absolute value **/
  border-radius: 100px;
  position: relative;
  animation: pulse 2000ms linear infinite;
  -webkit-animation: pulse 2000ms linear infinite;
  -moz-animation: pulse 2000ms linear infinite;
}

.load:after,
.load:before {
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #113388;
}

.load:after {
  z-index: -100;
  -webkit-animation: outer-ripple 2000ms linear infinite;
  -moz-animation: outer-ripple 2000ms linear infinite;
  animation: outer-ripple 2000ms linear infinite;
}

.load:before {
  z-index: -200;
  -webkit-animation: inner-ripple 2000ms linear infinite;
  -moz-animation: inner-ripple 2000ms linear infinite;
  animation: inner-ripple 2000ms linear infinite;
}
/* outer ripple */

@keyframes pulse {
  0% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  10% {
    transform: scale(1.1);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  20% {
    transform: scale(0.9);
    filter: alpha(opacity=1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
}

@keyframes outer-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  80% {
    transform: scale(2);
    filter: alpha(opacity=0);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}
/* inner ripple */

@keyframes inner-ripple {
  0% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  30% {
    transform: scale(1);
    filter: alpha(opacity=50);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    filter: alpha(opacity=0);
    opacity: 0;
  }
}

.overlay-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  app-custom-toastr {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 1rem;
    background: white;
    color: #ffffff;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
  }

  .error-auth {
    min-height: 2.5rem;
    background: #f22a2a;
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    font-family: 'SFUIDisplay-Semibold';
  }

  .success-auth {
    min-height: 2.5rem;
    background: #25cf9d;
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.02rem;
    font-family: 'SFUIDisplay-Semibold';
  }

  .error-main {
    min-height: 10vh;
    border-radius: 40px 40px 0 0;
    padding: 0.5rem 1rem;
    background: #f22a2a;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-family: 'SFUIDisplay-Medium';
  }

  .success-main {
    min-height: 10vh;
    background: #25cf9d;
    border-radius: 40px 40px 0 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-family: 'SFUIDisplay-Medium';
  }

  .info-main {
    min-height: 10vh;
    background: #113388;
    border-radius: 40px 40px 0 0;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-family: 'SFUIDisplay-Medium';
  }
}

.modal-fullscreen {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
}
